@layer components {
    /* EL INPUT PRINCIPAL DE FILAMENT */

    /* El propio input */
    .fi-input {
        @apply block w-full px-3 py-1.5 text-base text-gray-900
               placeholder:text-gray-400 transition-colors duration-150;
        border: none;
    }

    /* ESTE ES EL FOCO VIOLETA - Cuando el input dentro tiene foco, resalta el wrapper en violeta - ESTE ES EL FOCO VIOLETA */
    .fi-input-wrp-input:focus-within {
        @apply border-purple-600 ring-2 ring-purple-600 ring-opacity-50
        rounded-xl;
    }

    
    
    .fi-input:focus {
        @apply outline-none;
    }

    /* Wrapper principal (nuevo en Filament v3) */
    .fi-input-wp {
        @apply bg-white border border-gray-300 rounded-lg shadow-inner transition;
    }
    .fi-input-wp:focus-within {
        @apply ring-2 ring-purple-600 ring-opacity-50;
    }

    /* Fallback wrapper interno */
    .fi-input-wrp-input {
        @apply bg-white border border-gray-300 rounded-lg shadow-inner transition;
    }
    .fi-input-wrp-input:focus-within {
        @apply ring-2 ring-purple-600 ring-opacity-50;
    }

    /* Prefijo (p.ej. “ARS$”) */
    .fi-input-wrp-prefix {
        @apply bg-purple-600 text-white px-3 flex items-center rounded-l-lg;
    }
    .fi-input-wrp-prefix:focus-within {
        @apply ring-2 ring-purple-600 ring-opacity-50;
    }
    .fi-input-wrp-prefix .fi-input-wrp-label {
        @apply text-white;
    }

    .fi-input-wrp {
        /* 
        Con esto pude cambiar el alto del input de busqueda en el List Eventos
        height: 35px; */
    }

    

    
    
}
