/* Todos los @import primero */
@import "./barra-lateral.css";
@import "./botones.css";
@import "./panels.css";
@import "./_inputs.css";
@import "./_checkbox.css";
@import "./_toggle.css";
@import "./_cards.css";
@import "./_file-upload.css";
@import "./_btn_primarios.css";
@import "./_tabla.css";
@import "./_barra_de_busqueda.css";
@import "./_login.css";
@import "./_varios.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @layer utilities {
        @media (max-width: 639px) {
          .btn-right {
            display: none !important;
          }
          .btn-mobile-right {
            display: inline-flex !important; /* o block según convenga */
            margin-left: auto; /* para que se alinee a la derecha si está en flex */
          }
        }
      
        @media (min-width: 640px) {
          .btn-mobile-right {
            display: none !important;
          }
        }
      }
      
}
